body
{
    background-color: gray;
}

h1
{
    margin-left: 42.5%;
    text-decoration: underline;
}

table,td
{
    border: solid black;
    width: 16%;
}

.tabell
{
    display: flex;
    flex-direction: row;
    margin-left: 12.5%;
}
.fem
{
    margin: 5%;
}

.tio
{
     margin: 5%;
}

.femton
{
    margin: 5%;
}